<p-dialog header="{{ modalType }} Loại Bánh" [(visible)]="displayAddEditModal" [modal]="true"
  [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" (onHide)="closeModal()">
  <form [formGroup]="categoryForm" class="product-form">
    <div class="field">
      <app-input-text label="Tên loại bánh" [validators]="[required, minLength]"
        [formControl]="categoryForm.get('name')" [error]="error?.name"></app-input-text>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="closeModal()" label="Hủy" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" (click)="addEditProduct()" label="{{ modalType }}"
      [loading]="categoryForm.invalid"></p-button>
  </ng-template>
</p-dialog>