<footer class="tw-p-4 tw-bg-white tw-rounded-lg shadow md:tw-px-6 md:tw-py-8 dark:tw-bg-gray-900">
  <div class="sm:tw-flex sm:tw-items-center sm:tw-justify-between">
    <a routerLink="" class="tw-flex tw-items-center tw-mb-4 sm:tw-mb-0">
      <span class="tw-self-center tw-text-2xl tw-font-semibold tw-whitespace-nowrap dark:tw-text-white">🍰 Cake
        Shop</span>
    </a>
    <ul
      class="tw-flex tw-flex-wrap tw-items-center tw-mb-6 tw-text-sm tw-text-gray-500 sm:tw-mb-0 dark:tw-text-gray-400">
      <li>
        <a routerLink="" class="tw-mr-4 hover:tw-underline md:tw-mr-6">Trang Chủ</a>
      </li>
      <li>
        <a routerLink="products" class="tw-mr-4 hover:tw-underline md:tw-mr-6">Bánh</a>
      </li>
      <li>
        <a routerLink="about" class="tw-mr-4 hover:tw-underline md:tw-mr-6">Về chúng tôi</a>
      </li>
      <li>
        <a routerLink="contact" class="hover:tw-underline">Liên hệ</a>
      </li>
    </ul>
  </div>
  <hr class="tw-my-6 tw-border-gray-200 sm:tw-mx-auto dark:tw-border-gray-700 lg:tw-my-8" />
  <span class="tw-block tw-text-sm tw-text-gray-500 sm:tw-text-center dark:tw-text-gray-400">© 3 <a href="#"
      class="hover:tw-underline">Cake Shop™</a>. All Rights
    Reserved.
  </span>
</footer>
