<div class="surface-ground flex align-items-center justify-content-center min-h-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center m-5">
    <div style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      ">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">
            Chào mừng đến Cake Memory
          </div>
          <span class="text-600 font-medium">Đăng kí để tiếp tục</span>
        </div>

        <form [formGroup]="registerForm">
          <app-input-text label="Tên" styleLabel="text-900 text-xl font-medium mb-2" placeHolder="Tên"
            styleInput="w-full md:w-30rem mb-3 p-3" [validators]="[required]" [formControl]="registerForm.get('name')"
            [error]="error?.name"></app-input-text>

          <app-input-text label="Email" styleLabel="text-900 text-xl font-medium mb-2" placeHolder="Email"
            styleInput="w-full md:w-30rem mb-3 p-3" [validators]="[required, email]"
            [formControl]="registerForm.get('email')" [error]="error?.email"></app-input-text>

          <app-input-text label="Địa Chỉ" styleLabel="text-900 text-xl font-medium mb-2" placeHolder="Địa chỉ"
            styleInput="w-full md:w-30rem mb-3 p-3" [validators]="[required]"
            [formControl]="registerForm.get('address')" [error]="error?.address"></app-input-text>

          <app-input-text label="SĐT" styleLabel="text-900 text-xl font-medium mb-2" placeHolder="SĐT"
            styleInput="w-full md:w-30rem mb-3 p-3" [validators]="[required, number]"
            [formControl]="registerForm.get('phone')" [error]="error?.phone"></app-input-text>

          <app-input-select label="Giới Tính" styleSelect="text-900 text-xl font-medium mb-2"
            styleInput="text-900 text-xl font-medium mb-2" [validators]="[required]"
            [formControl]="registerForm.get('gender')" [error]="error?.user_id" [selectData]="gt"></app-input-select>

          <app-input-password label="Nhập Mật Khẩu" styleLabel="block text-900 text-xl font-medium mb-2"
            placeHolder="Nhập mật khẩu" styleInput="w-full md:w-30rem mb-3 p-3" [validators]="[required, password]"
            [formControl]="registerForm.get('password')" [error]="error?.password"></app-input-password>

          <app-input-password label="Nhập Lại Mật Khẩu" styleLabel="block text-900 text-xl font-medium mb-2"
            placeHolder="Nhập lại mật khẩu" styleInput="w-full md:w-30rem mb-3 p-3" [validators]="[required, password]"
            [formControl]="registerForm.get('password_confirmation')"
            [error]="error?.password_confirmation"></app-input-password>

          <button pButton label="Đăng Kí" class="w-full p-3 text-xl flex mt-5" (click)="click()"></button>
        </form>
      </div>
    </div>
  </div>
</div>
