<div class="tw-h-max tw-bg-white">
  <form *ngIf="userForm" class="tw-w-full tw-max-w-lg tw-mx-auto tw-pt-5" [formGroup]="userForm">
    <div class="tw-flex tw-flex-wrap tw--mx-3 tw-mb-6">

      <div class="tw-w-full md:tw-w-1/2 tw-px-3 tw-mb-6 md:tw-mb-0">
        <app-input-text-tw label="Tên" [validators]="[required]" [read]="isUpdate" [formControl]="userForm.get('name')"
          [error]="error?.name"></app-input-text-tw>
      </div>

      <div class="tw-w-full md:tw-w-1/2 tw-px-3">
        <app-input-text-tw label="SĐT" [validators]="[required]" [read]="isUpdate" [formControl]="userForm.get('phone')"
          [error]="error?.phone"></app-input-text-tw>
      </div>
    </div>

    <div class="tw-flex tw-flex-wrap tw--mx-3 tw-mb-6">
      <div class="tw-w-full tw-px-3">
        <app-input-text-tw label="Email" [validators]="[required, email]" [read]="isUpdate"
          [formControl]="userForm.get('email')" [error]="error?.email"></app-input-text-tw>
      </div>
    </div>

    <div class="tw-flex tw-flex-wrap tw--mx-3 tw-mb-2">
      <div class="tw-w-full md:tw-w-2/3 tw-px-3 tw-mb-6 md:tw-mb-0">
        <app-input-text-tw label="Địa Chỉ" [validators]="[required]" [read]="isUpdate"
          [formControl]="userForm.get('address')" [error]="error?.address"></app-input-text-tw>
      </div>

      <div class="tw-w-full md:tw-w-1/3 tw-px-3 tw-mb-6 md:tw-mb-0">
        <label class="tw-block tw-uppercase tw-tracking-wide tw-text-gray-700 tw-text-xs tw-font-bold tw-mb-2">
          Giới tính
        </label>
        <div class="tw-relative" *ngIf="isUpdate">
          <input
            class="tw-appearance-none tw-block tw-w-full tw-bg-gray-200 tw-text-gray-700 tw-border tw-border-gray-200 tw-rounded tw-py-3 tw-px-4 tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-gray-500"
            id="grid-gender" type="text" formControlName="gender" [readOnly]="isUpdate" />
        </div>
        <div class="tw-relative" *ngIf="!isUpdate">
          <select
            class="tw-block tw-appearance-none tw-w-full tw-bg-gray-200 tw-border tw-border-gray-200 tw-text-gray-700 tw-py-3 tw-px-4 tw-pr-8 tw-rounded tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-gray-500"
            formControlName="gender">
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
          </select>
          <p *ngIf="error?.gender" class="tw-text-red-500 tw-text-xs tw-italic">
            {{ error.gender }}
          </p>
        </div>
      </div>
    </div>

    <div class="tw-flex tw-flex-wrap tw--mx-3 tw-pb-5">
      <div *ngIf="!isUpdate"
        class="tw-shadow tw-w-24 tw-text-center tw-cursor-pointer tw-mt-6 tw-mx-auto tw-bg-purple-500 hover:tw-bg-purple-400 focus:tw-shadow-outline focus:tw-outline-none tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded"
        (click)="cancel()">
        Hủy
      </div>
      <div
        class="tw-shadow tw-cursor-pointer tw-mt-6 tw-mx-auto tw-bg-purple-500 hover:tw-bg-purple-400 focus:tw-shadow-outline focus:tw-outline-none tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded"
        (click)="editUser()">
        {{ labelButton }}
      </div>
    </div>
  </form>
</div>