<p-dialog header="{{ modalType }} Sản Phẩm" [(visible)]="displayAddEditModal" [modal]="true" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false" (onHide)="closeModal()">
  <form [formGroup]="productForm" class="product-form">
    <div class="field">
      <app-input-text label="Tên bánh" [validators]="[required, minLength]" [formControl]="productForm.get('name')"
        [error]="error?.name"></app-input-text>
    </div>

    <div class="field">
      <app-input-number label="Số lượng" [validators]="[required]" [formControl]="productForm.get('quantity')"
        [error]="error?.quantity"></app-input-number>
    </div>

    <div class="field">
      <app-input-number label="Giá" [validators]="[required, minLength]" [formControl]="productForm.get('price')"
        [error]="error?.price"></app-input-number>
    </div>

    <div class="field">
      <label class="block" for="image">Ảnh</label>
      <input type="file" class="rounded" pInputText (change)="onFileSelect($event)" />
      <small class="p-error block" *ngIf="
          productForm.controls['image'].invalid &&
          productForm.controls['image'].dirty
        ">Field is required</small>

      <div *ngIf="error?.image" class="tw-p-4 tw-mb-4 tw-text-sm tw-text-red-700 tw-bg-red-100 tw-rounded-lg"
        role="alert">
        <span class="tw-font-medium"></span> {{ error.image }}
      </div>
    </div>

    <div class="field">
      <app-input-select label="Loại bánh" [validators]="[required]" [formControl]="productForm.get('category_id')"
        [error]="error?.category_id" [selectData]="categories"></app-input-select>
    </div>

    <div class="field">
      <app-input-textarea label="Mô tả" [validators]="[required]" [formControl]="productForm.get('detail')"
        [error]="error?.detail"></app-input-textarea>
    </div>

  </form>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" (click)="submitForm()" [loading]="productForm.invalid"
      label="{{ modalType }}"></p-button>
  </ng-template>
</p-dialog>