<label class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">{{label}}</label>
<input type="password" placeholder={{placeHolder}} [formControl]="formControl" (input)="onChange(formControl.value)"
  (blur)="onTouched()"
  class="tw-bg-gray-50 tw-border tw-mb-5 tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-black">

<small class="p-error block" *ngIf="isInvalid">
  <p class="error-message">{{ errorMessage }}</p>
</small>
<div *ngIf="error" class="tw-p-4 tw-mb-4 tw-text-sm tw-text-red-700 tw-bg-red-100 tw-rounded-lg" role="alert">
  <span class="tw-font-medium"></span> {{ error }}
</div>